# --------------------------------------------- #
# Define timescale and averaging of diagnostics #
# --------------------------------------------- #

"ocean_daily",            1, "days",   1, "days", "time"
"ocean_daily_rho2",       1, "days",   1, "days", "time"
"ocean_daily_z",          1, "days",   1, "days", "time"
"ocean_month_snap",       1, "months", 1, "days", "time"
"ocean_month",            1, "months", 1, "days", "time"
"ocean_month_z",          1, "months", 1, "days", "time"
"ocean_month_rho2",       1, "months", 1, "days", "time"
"ocean_annual",          12, "months", 1, "days", "time"
"ocean_annual_z",        12, "months", 1, "days", "time"
"ocean_annual_rho2",     12, "months", 1, "days", "time"
"ocean_scalar_month",     1, "months", 1, "days", "time"
"ocean_scalar_annual",   12, "months", 1, "days", "time"

"ocean_static",          -1, "months", 1, "days", "time" # ocean_static is a protected name. Do not change this line.

"ocean_model", "areacello",   "areacello",   "ocean_static", "all", "none", "none", 2

